:root {    
    /* Dark Theme */
    --veryDarkBlue-BG: hsl(230, 17%, 14%);
    --veryDarkBlue-TopBGPattern: hsl(232, 19%, 15%);
    --darkDesaturatedBlue-CardBG: hsl(228, 28%, 20%);
    --desaturatedBlue-Text: hsl(228, 34%, 66%);
    --white-Text: hsl(0, 0%, 100%);
    --dark-card-hover: hsl(228, 25%, 27%);

    /* Light Theme */
    --toggle: hsl(230, 22%, 74%);
    --white-BG: hsl(0, 0%, 100%);
    --veryPaleBlue-TopBGPattern: hsl(225, 100%, 98%);
    --lightGrayishBlue-CardBG: hsl(227, 47%, 96%);
    --darkGrayishBlue-Text: hsl(228, 12%, 44%);
    --VeryDarkBlue-Text: hsl(230, 17%, 14%);
    --light-card-hover: hsl(228, 33%, 91%);

    /* Transition */
    --transition: all 150ms ease-in-out;

    --toggleBtn: var(--toggleBtn-dark);
    --bg: var(--veryDarkBlue-BG);
    --bgTop: var(--veryDarkBlue-TopBGPattern);
    --cardBg: var(--darkDesaturatedBlue-CardBG);
    --textColor: var(--desaturatedBlue-Text);
    --textColor2: var(--white-Text);
    --cardHover: var(--dark-card-hover);


    /* Testing */
    --darkPurple : hsl(240, 28%, 14%);
    --blue: hsl(213, 73%, 15%);
    --blue-mediumS: rgba(255, 255, 255, 0.13); 
    --grayishBlue: hsl(182, 26%, 72%);
    --lightGray: hsl(164, 45%, 94%);
    --grayishWhite: hsl(0, 0%, 85%);
    
    --githubIcon: hsl(0, 0%, 96%);
    --githubIcon-hover: hsl(0, 0%, 76%);
    --linkedinIcon : hsl(196, 100%, 43%);
    --linkedinIcon-hover:  hsl(196, 100%, 33%);
}

@media (prefers-color-scheme: light) {
    :root {
        --toggleBtn: var(--toggle);
        --bg: var(--white-BG);
        --bgTop: var(--veryPaleBlue-TopBGPattern);
        --cardBg: var(--lightGrayishBlue-CardBG);
        --textColor: var(--darkGrayishBlue-Text);
        --textColor2: var(--VeryDarkBlue-Text);
        --cardHover: var(--light-card-hover);
    }
}

body.dark {
    --toggleBtn: var(--toggleBtn-dark);
    --bg: var(--veryDarkBlue-BG);
    --bgTop: var(--veryDarkBlue-TopBGPattern);
    --cardBg: var(--darkDesaturatedBlue-CardBG);
    --textColor: var(--desaturatedBlue-Text);
    --textColor2: var(--white-Text);
    --cardHover: var(--dark-card-hover);
}

body.light {
    --toggleBtn: var(--toggle);
    --bg: var(--white-BG);
    --bgTop: var(--veryPaleBlue-TopBGPattern);
    --cardBg: var(--lightGrayishBlue-CardBG);
    --textColor: var(--darkGrayishBlue-Text);
    --textColor2: var(--VeryDarkBlue-Text);
    --cardHover: var(--light-card-hover);
}
